#Conteneur
{
    font-family: 'Raleway', sans-serif;
    font-size: small;
    display: flex;
    flex-direction: column;
}
.Gras
{
    font-weight: 800;
    padding: 0;
    display: inline-block;
    font-size: 1.1em;
}
body
{
    margin: 0;
    background: url(Photos/Reservia@3x.png) no-repeat;
    background-size: 90px;
    background-position: top 20px left 20px;
}

.fas.fa-star, .far.fa-star
{
    color: #0065FC;
}
/*Haut de page*/
header
{
    margin-left: 20px;
    margin-right: 20px;
}

header #Marqueur1
{
    display: inline-block;
    background-color: rgb(242, 242, 242);
    text-align: center;
    padding-top: 9px;
    padding-left: 15px;
    padding-bottom: 11px;
    padding-right: 15px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    font-size: 1.3em;
}

#Ville 
{
    display: inline-block;
}

#Ville input
{
    border-right-style: none;
    border-left-style: none;
    border-top: 1px solid;
    border-bottom: 1px solid;
    border-color: rgb(242, 242, 242);
    padding: 9px;
    font-size: 1.3em;
    color: black;
}

#Rechercher 
{
    display: inline-block;
}
#Rechercher input
{
    background-color: #0065FC;
    border-style: none;
    padding: 10px;
    color: white;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    font-size: 1.3em;

}
#Filtres p
{
    display: inline-block;
    margin-top: 35px;
    padding-right: 20px;
    font-weight: 700;
}
.Filters
{
    display: inline-block;
    border-top: solid 2px #F2F2F2;
    border-bottom: solid 2px #F2F2F2;
    border-right: solid 2px #F2F2F2;
    border-left-style: none;
    border-radius: 30px;
    padding-right: 20px;
    margin-right: 20px;
    width: auto;
    font-weight: 700;
}
.Filters:hover
{
    color: yellow;
}
.fas.fa-money-bill-wave
{
    background-color: #DEEBFF;
    color: #0065FC;
    Padding: 16px 15px 16px 15px;
    border-radius: 100%;
}
.fas.fa-child
{
    background-color: #DEEBFF;
    color: #0065FC;
    Padding: 15px 17px 15px 17px;
    border-radius: 100%;   
}
.fas.fa-heart
{
    background-color: #DEEBFF;
    color: #0065FC;
    Padding: 15px;
    border-radius: 100%;
}
.fas.fa-dog
{
    background-color: #DEEBFF;
    color: #0065FC;
    padding: 15px;
    border-radius: 100%;
}
.fas.fa-info-circle
{
    color: #0065FC;
}
/*     Navigation      */
nav
{
    display: flex;
    justify-content: flex-end;
    margin-left: 20px;
    margin-right: 20px;
}

nav ul
{
    margin-top: 0;
    padding-top: 0;
}

nav ul li
{
    list-style-type: none;
    margin: 0 15px 15px 15px;
    font-size: 15px;
    display: inline-block;
    color: #0065FC;
    width: 130px;
    text-align: center;
}
nav a
{
    text-decoration: none;
    font-weight: 500;

}
#input::placeholder
{
    color: black;
    font-weight: 500;
}
#hébergement_link
{
    border-top: solid #0065FC;
    padding-top : 30px;
    font-weight: normal;
}
#Activités_link a
{
    color: black;
}

#Conteneur2
{
    width: 100%;
    height: auto;   
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

#Hébergements a
{
    text-decoration: none;
    font-weight: 500;
}
#SousElement1
{
    height: auto;
    width: 61%;
    padding: 20px;
    margin-left: 20px;
    margin-right: 10px;
    background-color: rgb(242, 242, 242);
    border-radius: 20px;
}
#SousElement1 a
{
    text-decoration: none;
    color: black;
}
.SousElement11 img
{
    width: 240px;
    height: 130px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    object-fit: cover;
    margin-bottom: 5px;
}
.SousElement11
{
    margin: 17px;
    padding: 7px;
    display: inline-block;
    width: 240px;
    height: 185px;
    background-color: white;
    border-radius: 15px;
}

#Afficher
{
    text-decoration: none;
    color: black;
    font-weight: 700;
    font-size: 1.2em;
    display: inline-block;
    margin-top: 20px;
    margin-bottom: 20px;
}
.fas.fa-star
{
    color: #0065FC;
}
.fa.fa-star
{
    color: #F2F2F2;
}

#SousElement2
{
    height: auto;
    width: 29%;
    padding: 20px;
    margin-right: 20px;
    margin-left: 10px;
    background-color: rgb(242, 242, 242);
    border-radius: 20px;
}
#SousElement2 a
{
    color: black;
    text-decoration: none;
}
#SousElement2  i
{
    display: inline-block;
}
#SousElement2 h1
{
    display: inline-block;
    margin: 15px;
}
.fas.fa-search
{
    display: none;
}
.fas.fa-chart-line
{
    display: inline-block;
    margin-left: 180px;
}

.SousElement22 img
{
    height: 120px;
    width: 120px;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    margin: 5px;
    object-fit: cover;
}
.SousElement22  figcaption
{
    margin-top: 5px;
    margin-left: 15px;
}
.SousElement22 figure
{
    margin: 0;
}
.SousElement22
{
    background-color: white;
    border-radius: 15px;
    margin: 25px 15px 30px 15px;
    display: flex;   
}

/* ACTIVITES*/

#Activités
{
    margin: 30px 20px 30px 20px;
    height: auto;
}

#BlocActivités
{   
    flex-wrap: wrap;
    display: inline-block;
    width: 100%;
}
#BlocActivités a
{
    text-decoration: none;
    color: black;
}

.Img1
{
    width: 300px;
    height: auto;
    margin: 0 25px 0 25px;
    padding-bottom: 20px;
    border-radius: 15px;
    display: inline-block;
    box-shadow: 3px 1px 5px 4px #F2F2F2 ;
}
.Img1 img
{
  height: 380px;
  width: 300px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  object-fit: cover;
}
.Img1 figcaption
{
    font-weight: 700;
    padding: 7px 0 0 5px;
}

.Img2 figure
{
    margin: 0;
}
.Img1 figure
{
    margin: 0;
}
.Images2
{
    display: inline-block;
    width: 300px;
    margin: 20px;
}
.Img2dessus
{
    display: inline-block;
    margin: 0;
}


.Img2
{
    width: 300px;
    height: 220px;
    border-radius: 15px;
    box-shadow: 3px 1px 5px 4px #F2F2F2;
    display: inline-block;
    font-weight: 700;
    margin: 0 0 25px 0;
}
.Img2 figcaption
{
    Padding: 5px 0 0 7px;
    font-weight: 700;
}
.Img2 img
{
    width: 300px;
    height: 180px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    object-fit: cover;
}
.Img3
{
    width: 300px;
    height: 150px;
    box-shadow: 3px 1px 5px 4px #F2F2F2;
    border-radius: 15px;
    margin: 25px 0 0 0;
    font-weight: 700;

}
.Img3 img
{
    width: 300px;
    height: 110px;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
    object-fit: cover;
}
.Img3 figure
{
    margin: 5px;
}
.Img11
{
    width: 300px;
    height: auto;
    margin: 0 25px 0 25px;
    padding-bottom: 20px;
    border-radius: 15px;
    display: inline-block;
    box-shadow: 3px 1px 5px 4px #F2F2F2 ;
}
.Img11 img
{
  height: 380px;
  width: 300px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  object-fit: cover;
}
.Img11 figcaption
{
    font-weight: 700;
    padding: 7px 0 0 5px;
}
.Img11 figure
{
    margin: 0;
}

.Img4
{
    height: 175px;
    width: 300px;
    font-weight: 700;
    box-shadow: 3px 1px 5px 4px #F2F2F2 ;
    border-radius: 15px;
    margin: 0 0 25px 0;
}
.Img4 img
{
    width: 300px;
    height: 135px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}
.Img4 figure
{
    margin: 0;
    padding: 7px 0 0 5px;
}
.Img5
{
    height: 200px;
    width: 300px;
    box-shadow: 3px 1px 5px 4px #F2F2F2 ;
    border-radius: 15px;
    font-weight: 700;
    margin: 25px 0 0 0;
}
.Img5 img
{
    height: 155px;
    width: 300px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}
.Img5 figure
{
    margin: 0;
    padding: 7px 0 0 5px;
}

.Pieddepage
{
    background-color: rgb(242, 242, 242);
    padding: 20px;
}

.Partie
{
    display: inline-block;
    margin-right: 250px;
    vertical-align: top;
    
}

.Partie ul  
{
    list-style: none;
    padding: 0;
}
.Partie a
{
    text-decoration: none;
    color: black;
}
span
{
    display: inline-block;
}
#Info
{
    margin-right: 5px;
}

/* RESPONSIVE*/

@media screen and (max-width: 375px)
{
    body
    {
        width: 375px;
        margin: 0;
    }
    header
    {
        margin-left: 0;
        margin-right: 0;
        padding: 5px;
    }
    header h1
    {
        font-size: 1.9em;
    }
    header p 
    {
        font-size: 1.2em;
    }
    section 
    {
        width: 100%;
    }
   nav  
   {
       height: 140px;
       width: 375px;
       display: flex;
       margin: 0;
   }
   nav ul 
   {
       padding: 0;
       display: flex;
       flex-direction: row;
       flex-wrap: wrap-reverse;
       width: 100%;
   }
   nav ul li 
   {
       margin: 0;
       width: 50%;
       padding-top: 0;
       text-align: center;
   }
   #Marqueur1
   {
       margin-left: 25px;
   }
   #Inscription
   {    
        margin: 0;
        display: flex;
        justify-content: flex-end;
        width: 100%;
        padding: 35px 5px 0 0;       
   }
   #Activités_link
   {
       margin: 0px;
       display: block;
       padding-top: 0;
       width: 50%;
       border-bottom: solid #F2F2F2;
       height: 30px;
   }
   #hébergement_link
   {
       display: block;
       margin: 0;
       width: 50%;
       padding-top: 0;
       border-bottom: solid #0065FC;
       border-top: none;
       height: 30px;
   }
   .fas.fa-search
   {
       display: block;
       background-color: #0065FC;
       font-size: 1.3em;
       padding: 11px 14px 13px 14px;
       border-top-right-radius: 10px;
       border-bottom-right-radius: 10px;
       color: white;
   }
   #Filtres p   
   {
       display: block;
   }
   .Filters
   {
       margin-top: 7px;
   }
   #Conteneur2
   {
       display: flex;
       flex-direction: column;
   }
   #SousElement1
   {
       margin: 0;
       display: inline-block;
       width: 375px;
       border-radius: 0;
       order: 2;
       background-color: white;
   }
   .fas.fa-chart-line
   {
       margin: 0;
       padding-left: 3px;
   }
   #SousElement1
   {
       width: 100%;
       padding: 0;
       display: flex;
       flex-direction: column;
       margin: 0;
   }
   #Hébergements
   {
       margin-left: 10px;
       width: 50%;
   }
   #Afficher
   {
       margin-left: 10px;
       width: 50%;
   }
   .SousElement11
   {
       width: 85%;
       border-radius: 15px;
       box-shadow: 1px 1px 7px 4px #F2F2F2, -1px -1px 7px 4px #F2F2F2;
       margin: 5px 0 5px 4px;
   }
   .SousElement11 img
   {
       width: 100%;
   }
   .SousElement22
   {
       width: 85%;
       margin: 5px 0 10px 10px;
   }
   #SousElement2
   {
       margin: 0;
       display: inline-block;
       width: 100%;
       border-radius: 0;
       padding: 0;
   }
   #search
   {
       display: none;
   }
   .Images2
   {
       margin: 0;
   }
   .Img1
   {
       height: 130px;
       margin: 10px 0 10px 0;
   }
   .Img1 img 
   {
       height: 110px;
   }
   .Img2
   {
       height: 130px;
       margin: 10px 0 10px 0;
   }
   .Img2 figure 
   {
       padding: 5px 0 5px 0;
   }
   .Img2 img 
   {
       height: 100px;
   }
   .Img3
   {
    margin: 10px 0 10px 0;
}
   .Img11
   {
       height: 130px;
       margin: 10px 0 10px 0;
   }
   .Img11 img 
   {
       height: 110px;
   }
   .Img4
   {
       height: 150px;
       margin: 10px 0 10px 0;
   }
   .Img4 img 
   {
       height: 110px;
   }
   .Img4 figure
   {
    padding: 5px 0 5px 0;
   }
   .Img5
   {
       height: 150px;
       margin: 10px 0 40px 0;
   }
   .Img5 img 
   {
       height: 110px;
       object-fit: cover;
   }
   .Partie
   {
       width: 300px;
       margin-right: 0;
   }
   .Partie li 
   {
       margin-top: 10px;
   }
   #BlocActivités
   {
       display: flex;
       margin-left: 20px;
   }
   #Activités
   {
       margin: 0;
   }
   #Activités h1 
   {
       margin-left: 15px;
   }
   .fas.fa-chart-line 
   {
       padding-left: 100px;
   }
   .fas.fa-info-circle
   {
       display: inline-block;
       width: 10px;
       margin-right: 5px;
   }
   span 
   {
       width: 80%;
       vertical-align: top;
   }
   #Info
   {
       width: 5%;
   }
   p 
   {
       vertical-align: top;
   }
}
@media screen and (max-width: 1024px) and (min-width:769px)
{
    #Filtres p
    {
        width: 100%;
    }
    #Conteneur2
    {
        flex-direction: column;
    }
    #SousElement1
    {
        width: 90%;
    }
    .SousElement11
    {
        width: 40%;
        margin: 5px 10px 5px 40px;
    }
    .SousElement11 img 
    {
        width: 100%;
    }
    #SousElement2
    {
        width: 90%;
        margin-top: 20px;
        margin-left: 20px;
    }
    .SousElement22 img 
    {
        width: 33%;
    }
    .Img1
    {
        width: 55%;
    }
    .Img1 img 
    {
        width: 100%;
    }
    .Img11
    {
        width: 55%;
    }
    .Img11 img 
    {
        width: 100%;
    }
    #Afficher
    {
        display: block;
    }
    .Partie{
        margin-right: 15%;
    }
}
@media screen and (max-width:768px) and (min-width:376px)
{
    #Filtres p
    {
        width: 100%;
    }
    #Conteneur2
    {
        flex-direction: column;
    }
    #SousElement1
    {
        width: 90%;
    }
    .SousElement11
    {
        width: 40%;
        margin: 5px 10px 5px 30px;
    }
    .SousElement11 img 
    {
        width: 100%;
    }
    #SousElement2
    {
        width: 90%;
        margin-top: 20px;
        margin-left: 20px;
    }
    .SousElement22 img 
    {
        width: 33%;
    }
    .Img1
    {
        width: 45%;
    }
    .Img1 img 
    {
        width: 100%;
    }
    .Img11
    {
        width: 45%;
    }
    .Img11 img 
    {
        width: 100%;
    }
    #Afficher
    {
        display: block;
    }
    .Partie{
        margin-right: 15%;
    }
}
 


