#Conteneur
{
    font-family: 'Raleway', sans-serif;
    font-size: small;
    display: flex;
    flex-direction: column;
}
.Gras
{
    font-weight: 800;
    padding: 0;
    display: inline-block;
    font-size: 1.1em;
}
body
{
    margin: 0;
}

.fas.fa-star, .far.fa-star
{
    color: #0065FC;
}
/*Haut de page*/
header
{
    margin-left: 20px;
    margin-right: 20px;
}

header #Marqueur1
{
    display: inline-block;
    background-color: rgb(242, 242, 242);
    text-align: center;
    padding-top: 9px;
    padding-left: 15px;
    padding-bottom: 11px;
    padding-right: 15px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    font-size: 1.3em;
}

#Ville 
{
    display: inline-block;
}

#Ville input
{
    border-right-style: none;
    border-left-style: none;
    border-top: 1px solid;
    border-bottom: 1px solid;
    border-color: rgb(242, 242, 242);
    padding: 9px;
    font-size: 1.3em;
    color: black;
}

#Rechercher 
{
    display: inline-block;
}
#Rechercher input
{
    background-color: #0065FC;
    border-style: none;
    padding: 10px;
    color: white;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    font-size: 1.3em;

}
#Filtres p
{
    display: inline-block;
    margin-top: 35px;
    padding-right: 20px;
    font-weight: 700;
}
.Filters
{
    display: inline-block;
    border-top: solid 2px #F2F2F2;
    border-bottom: solid 2px #F2F2F2;
    border-right: solid 2px #F2F2F2;
    border-left-style: none;
    border-radius: 30px;
    padding-right: 20px;
    margin-right: 20px;
    width: auto;
    font-weight: 700;
}
.Filters:hover
{
    color: yellow;
}
.fas.fa-money-bill-wave
{
    background-color: #DEEBFF;
    color: #0065FC;
    Padding: 16px 15px 16px 15px;
    border-radius: 100%;
}
.fas.fa-child
{
    background-color: #DEEBFF;
    color: #0065FC;
    Padding: 15px 17px 15px 17px;
    border-radius: 100%;   
}
.fas.fa-heart
{
    background-color: #DEEBFF;
    color: #0065FC;
    Padding: 15px;
    border-radius: 100%;
}
.fas.fa-dog
{
    background-color: #DEEBFF;
    color: #0065FC;
    padding: 15px;
    border-radius: 100%;
}
.fas.fa-info-circle
{
    color: #0065FC;
}
/*     Navigation      */
nav
{
    display: flex;
    justify-content: flex-end;
    background: url(Photos/Reservia@3x.png) no-repeat;
    background-size: 90px;
    background-position-y: center;
    margin-left: 20px;
    margin-right: 20px;
}

nav ul
{
    margin-top: 0;
    padding-top: 0;
}

nav ul li
{
    list-style-type: none;
    margin: 0 15px 15px 15px;
    font-size: 15px;
    display: inline-block;
    color: #0065FC;
    width: 130px;
    text-align: center;
}
nav a
{
    text-decoration: none;
    font-weight: 500;

}
#input::placeholder
{
    color: black;
    font-weight: 500;
}
#hébergement_link
{
    border-top: solid #0065FC;
    padding-top : 30px;
    font-weight: normal;
}
#Activités_link a
{
    color: black;
}

#Conteneur2
{
    width: 100%;
    height: auto;   
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

#Hébergements a
{
    text-decoration: none;
    font-weight: 500;
}
#SousElement1
{
    height: auto;
    width: 61%;
    padding: 20px;
    margin-left: 20px;
    margin-right: 10px;
    background-color: rgb(242, 242, 242);
    border-radius: 20px;
}

.SousElement11 img
{
    width: 240px;
    height: 130px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}
.SousElement11
{
    margin: 17px;
    padding: 7px;
    display: inline-block;
    width: 240px;
    height: 185px;
    background-color: white;
    border-radius: 15px;
}
.SousElement11 figcaption
{
    margin: 5px;
}
#Afficher
{
    text-decoration: none;
    color: black;
    font-weight: 700;
    font-size: 1.2em;
    display: inline-block;
    margin-top: 20px;
    margin-bottom: 20px;
}
.fas.fa-star
{
    color: #0065FC;
}
.fa.fa-star
{
    color: #F2F2F2;
}

#SousElement2
{
    height: auto;
    width: 29%;
    padding: 20px;
    margin-right: 20px;
    margin-left: 10px;
    background-color: rgb(242, 242, 242);
    border-radius: 20px;
}
#SousElement2  i
{
    display: inline-block;
}
#SousElement2 h1
{
    display: inline-block;
    margin: 15px;
}
.fas.fa-chart-line
{
    display: inline-block;
    margin-left: 180px;
}

.SousElement22 img
{
    height: 120px;
    width: 120px;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    margin: 5px;
    object-fit: cover;
}
.SousElement22  figcaption
{
    margin-top: 5px;
    margin-left: 15px;
    display: inline-block;
}
.SousElement22
{
    background-color: white;
    border-radius: 15px;
    margin: 15px;
    display: flex;   
}

/* ACTIVITES*/

#Activités
{
    margin: 30px 20px 30px 20px;
    height: auto;
}

#BlocActivités
{   
    flex-wrap: wrap;
    display: inline-block;
    width: 100%;
}

.Img1
{
    width: 250px;
    height: auto;
    padding-bottom: 20px;
    border-radius: 15px;
    display: inline-block;
    box-shadow: 3px 1px 5px 4px #F2F2F2 ;
}
.Img1 img
{
  height: 354px;
  width: 250px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}
.Img1 figcaption
{
    font-weight: 700;
    padding: 2px 0 0 7px;
}
.Img2 figcaption
{
    font-weight: 700;
    padding: 2px 0 0 7px;
}
.Images2
{
    display: inline-block;
    width: 280px;
    margin: 40px;
}

.Img2dessus
{
    display: inline-block;
    margin: 0 30px 15px 30px;
}
.Img2dessous
{
    display: inline-block;
    margin:  0 30px 15px 30px;
}
.Img2
{
    width: 250px;
    height: auto;
    padding-bottom: 20px;
    border-radius: 15px;
    box-shadow: 3px 1px 5px 4px #F2F2F2;
    display: inline-block;
}
.Img2 img
{
    width: 250px;
    height: 150px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.Pieddepage
{
    background-color: rgb(242, 242, 242);
    padding: 20px;
}

.Partie
{
    display: inline-block;
    margin-right: 250px;
}

.Partie ul  
{
    list-style: none;
    padding: 0;
}
.Partie a
{
    text-decoration: none;
    color: black;
}